NEXTAUTH_URL=http://localhost:3000
AUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-random-secret
AUTH_SECRET=replace-with-a-random-secret
GOOGLE_CLIENT_ID=replace-with-google-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
APPSCRIPT_URL=https://script.google.com/macros/s/AKfycbxlbXU4oSSCQlfhAHX-_filfabHkaURBq-RHFPQPibDwy6qO_30kzDgm1WCrauvwB_t/exec

